/* You can add global styles to this file, and also import other style files */
/* Move this block here so it applies to the whole window */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000; /* This fixes the white border */
}

/* It is also good practice to put the box-sizing reset here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}